#title {
    /* outline: 1px solid blue; */
}

#mainContent {
    /* outline: 1px dotted white; */
    display: flex;
    justify-content: space-between;
}

/* div containing submit or delete+submit buttons */
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* .buttons .deleteBtn {
    background-color: red;
    border-radius: 4px;
    border: 1px solid gray;
} */

#inputSections {
    border: 1px solid gray;
    width: 35%;
}
.inputSection {
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#outputSections {
    /* white background to simulate paper */
    background-color: white;
    /* black text */
    color: black;

    width: 60%;
}
