#title {
    outline: 1px solid blue;
}

#mainContent {
    outline: 1px dotted white;
    display: flex;
}

#inputSect {
    outline: 1px solid green;
    width: 40%;
}

#outputSect {
    outline: 1px solid red;
    width: 60%;
}
